/* typeface files */
@font-face {
    font-family: Migra Extralight;
    src: url(fonts/Migra-Extralight);
}

@font-face {
    font-family: Migra Italic;
    src: url(fonts/MigraItalic-ExtralightItalic.ttf);
}

@font-face {
    font-family: PP Supply Mono;
    src: url(fonts/PPSupplyMono-Regular.otf);
}

@font-face {
    font-family: PP Supply Ultralight Mono;
    src: url(fonts/PPSupplyMono-Ultralight.otf);
}


:root {
    --font-size: 16px;
    --caption-font-size: 16px;
    --display-font: Migra Extralight;
    --text-font: PP Supply Mono;
    --caption-font: PP Supply Ultralight Mono;


    --line-height: 150%;
    --text-padding: 2% 0;

    --text-color: #c052ff;
    --caption-color: white;
    --accent-color: greenyellow;

    --hover-effect: ease-in-out 0.25s;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--text-color);
    font-family: var(--text-font);
    background-image: radial-gradient(circle, #101415, #330f5f, #181929, #080a0a);
    margin: 5%;
}


h1 {
    font-size: calc(var(--font-size) * 5);
    font-family: Migra Italic;
    color: #B026FF;
    /* padding: var(--text-padding); */
}

h2 {
    font-size: calc(var(--font-size) * 1.75);
    /* padding: var(--text-padding); */
}

p {
    font-size: calc(var(--font-size) * 1);
    line-height: var(--line-height);
    padding: var(--text-padding);
}

header {
    position: fixed;
    bottom: 50px;
    z-index: 1000;

    display: flex;
    flex-direction: column;
    row-gap: 3rem;

    /* want to make a subtle dark blur banner for images to subtlely appear */
    /* background-color: black; */
    
}

/* images */
img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    position: static;
    z-index: 1;

    filter:grayscale(100);
}

section:first-child > iframe {
    opacity: 100%;
    position: absolute;
    bottom: 0;
    z-index: 10003;
}

section:nth-child(2) img {
    width: auto;
    height: 30%;

    position: relative;
    left: 4rem;
    
}


/* class styles */
.h1-bullet {
    font-size: calc(var(--font-size) * 3);
    vertical-align: middle;
}

.background-image-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    mix-blend-mode: multiply;
}

.background-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    
    transform: scale(1.5);

    position: fixed;
    left: 20%;
    top: -25%;
    z-index: -1;
}

.background-image-container img:hover {
    filter: grayscale(100);
}

.my-name {
    color: var(--accent-color);
    position: fixed;
    top: 0;
}

.right-aligned-captions {
    display: flex;
    flex-direction: row;
    column-gap: 35rem;

    /* font-family: var(--caption-font); */
    font-size: var(--caption-font-size);
    color: var(--caption-color);
    
}

.right-aligned-captions > div > p {
    /* font-family: var(--caption-font); */
    font-size: var(--caption-font-size);
}



/* TABLET MEDIA QUERY   TABLET MEDIA QUERY   TABLET MEDIA QUERY   TABLET MEDIA QUERY*/
/* TABLET MEDIA QUERY   TABLET MEDIA QUERY   TABLET MEDIA QUERY   TABLET MEDIA QUERY*/
/* TABLET MEDIA QUERY   TABLET MEDIA QUERY   TABLET MEDIA QUERY   TABLET MEDIA QUERY*/
@media (min-width: 768px) {
    


    section:nth-child(2) img {
        width: 40%;
        height: auto;

        position: relative;
        left: 4rem;
    
}




/* DESKTOP MEDIA QUERY   DESKTOP MEDIA QUERY   DESKTOP MEDIA QUERY   DESKTOP MEDIA QUERY*/
/* DESKTOP MEDIA QUERY   DESKTOP MEDIA QUERY   DESKTOP MEDIA QUERY   DESKTOP MEDIA QUERY*/
/* DESKTOP MEDIA QUERY   DESKTOP MEDIA QUERY   DESKTOP MEDIA QUERY   DESKTOP MEDIA QUERY*/
@media (min-width: 1280px) {
    :root {
        --font-size: 30px;
        --line-height: 140%;
        /* --display-margin: 5%; */
    }

    h2 {
        font-size: calc(var(--font-size) * 1.5);
    }

    p {
        font-size: calc(var(--font-size) * .8);
    }

    header {
        display: flex;
        flex-direction: row;
        column-gap: 6rem;
        align-items: baseline;
        width: 80%;
    }

    img:hover {
        filter: none;
        transition: var(--hover-effect);
    }

    section:nth-child(2) {
        margin-top: 100vh;

        display: flex;
        flex-direction: row;
        column-gap: 32rem;
    }
    
    section:nth-child(2) img {
        width: 35%;
        height: auto;
    
        position: relative;
        left: 30rem;
    }

    section:nth-child(3) img {
        width: 30%;
        height: 50%;

        margin-top: -5%;

        display: flex;
        flex-direction: row;
        column-gap: 32rem;
    }

    section:nth-child(4) img {
        width: 60%;

        position: relative;
        top: -10rem;
        left: 40%;
    }


    /* class styles */
    span.hover-filter:hover {
        color: var(--accent-color);
        transition: var(--hover-effect);
    }

    /* how do I make my captions change color when I hover on the image? */
    /* section:nth-child(2) img:hover > .right-aligned-captions {
        color: var(--caption-color);
    } */
}