/* typeface files */
@font-face {
    font-family: Migra Extralight;
    src: url(fonts/Migra-Extralight);
}

@font-face {
    font-family: Migra Italic;
    src: url(fonts/MigraItalic-ExtralightItalic.ttf);
}

/* variables */
:root {
    --font-size: 24px;
    --display-font: Migra Extralight;
}

body {
    margin: 2rem;
}


h1 {
    font-size: calc(var(--font-size) * 6);
    font-family: Migra Italic;
}

h2 {
    font-size: calc(var(--font-size) * 1.5);
}

p {
    font-size: calc(var(--font-size) * .75);
}

header {
    padding-top: 75%;
}